table{
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    width: 100%;
    border: 1px solid #ffffff;
}

table .device-row{

    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    height: 100px;
}
table .device-col{
    width: 100px;
    border:1px transparent;
}

table .port-row{

    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    height: 84.2857143px;
}
table .port-col{
    width: 84.2857143px;
    border:1px transparent;
}
td{
    padding:5px
}