.body__container {
    margin: 1rem auto;
    height: 100%;
    display: flex;
    justify-content: start;
}
.button_group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.info_group {
    display: grid;
    grid-auto-flow: row;
}