.body__container {
    margin: 1rem auto;
    display: grid;
}
.selection {
    background-color: rgb(60, 60, 60);
    color: rgb(240, 240, 240);
    border-color: rgb(60, 60, 60);
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
}