a {
  text-decoration: none;
}

hr {
  background-color: #888;
  border: none;
  height: 1px;
  width: 95%;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  grid-gap: 1em 3em;
  align-items: center;
  justify-items: center;
  margin: 2rem 3em;
  max-width: 1200px;
}

.header__blurb {
  color: var(--color-foreground--75);
  flex: 2 1 55%;
  font-size: 1rem;
  font-weight: 200;
  margin: 0;
  min-width: 345px;

  @media all and (max-width: 880px) {
    margin: 0 2em;
  }
}

.bold {
  font-weight: 600;
}

.header__link {
  color: var(--color-foreground);
  outline: none;
}

.header__link:hover,
.header__link:active,
.header__link:focus {
  color: var(--color-foreground);
  outline: none;
}

.header__logo {
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  height: auto;
}

.body__container {
  margin: 1rem auto;
}

.body__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #aaa;
  border-radius: 0.5rem;
  background-color: var(--vscode-sideBar-background);
}

.body__intro {
  font-size: 3rem;
  margin: 1.5rem auto;
}

.body__new_versions {
  font-size: 1.5rem;
  margin: 0.5rem auto;
}

.body__blurb {
  padding: 1rem 0;
  font-size: 1rem;
  text-align: center;
}

.body__settings {
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.body__features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0.5rem;
  column-gap: 3rem;
  grid-auto-rows: minmax(100px, auto);
  margin: 0 auto 2rem auto;
  font-size: 1rem;
}

.body__features_header {
  font-size: 2rem;
  font-weight: 500;
  grid-column: 1 / 3;
  grid-row: 1;
  align-self: center;
  justify-self: center;
}

.body__features_img_one {
  grid-row: 2;
}

.body__features_img_left_one {
  grid-column: 1;
  grid-row: 2;
  justify-self: end;
  align-self: center;
}

.body__features_img_right_one {
  grid-column: 2;
  grid-row: 2;
  justify-self: start;
  align-self: center;
}

.body__features_img_left_two {
  grid-column: 1;
  grid-row: 3;
  justify-self: end;
  align-self: center;
}

.body__features_img_right_two {
  grid-column: 2;
  grid-row: 3;
  justify-self: start;
  align-self: center;
}

.body__features_img_left_three {
  grid-column: 1;
  grid-row: 4;
  justify-self: end;
  align-self: center;
}

.body__features_img_right_three {
  grid-column: 2;
  grid-row: 4;
  justify-self: start;
  align-self: center;
}

.body__features_img_item {
  padding: 1rem;
}

.body__help {
  padding: 1rem 0;
  font-size: 1rem;
}
